<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khushi Thaker">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Khushi Thaker professional website">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <title>Khushi Thaker</title>
</head>
<body>
    <header>
        <h1 id="webname">Khushi Thaker</h1>
        <nav>
            <a class = "webLinks" href="../index.html">Home</a>
            <a class = "webLinks" href="cv.html">Experience</a>
            <a class = "webLinks" href="contact.html">Contact Me</a>
            <a class = "webLinks" href="fun.html">About Me</a>

        </nav>
    </header>
    
    <div class = "main">
        <h2>Things I love to do for fun!</h2>
        <ul>
            <li>Traveling</li>
            <li>Reading</li>
            <li>Biking</li>
            <li>Baking</li>
            <li>Watching shows and movies (Survivor, The Office, Harry Potter)!</li>
          </ul>
    </div>

    <footer>© 2025 designed and coded by Khushi Thaker</footer>
    
</body>
</html>