* {
  padding: 5px;
  margin: 5px;
  font-variation-settings: "wdth" 100;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  margin: 0;
  padding: 10px;
}


.grid-container {
  display: grid; 
  grid-template-areas: 
    'header'
    'nav'
    'content'
    'footer';
  gap: 10px;
  
}


header{
  grid-area: header;
  background-color: #6b9080;
  font-size: 40px;
  height: 7vh;
  color: white;
  align-items: center;
  display: flex;
  border-radius: 15px;
  animation: colorPulse 3s infinite;

}
  
nav {
  grid-area: nav;
  background-color: #a4c3b2;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative

  
}

.nav-links{
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}

.nav-links li {
  margin: 0 10px;
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.webLinks {
  text-decoration: None;
  color: white;
}

figure {
  grid-area: main-img;
  background-color: #cce3de;
  display: flex;
  justify-content: left;
  align-items: left;

}
  
main {
  grid-area: main;
  background-color: #cce3de;
}
  
summary {
  grid-area: bottom_content;
  background-color: #eaf4f4;
  font-size:20px;
  height: 20vh;
  text-align: center;


}
  
footer {
  grid-area: footer;
  background-color: #a4c3b2;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  

}


.content-wrapper {
  background-color: #f6fff8;
  display: grid;
  grid-area: content;
  grid-template-areas:
      'main-img main'
      'bottom_content bottom_content';
  grid-template-columns: 1fr 2fr;
  padding: 15px;
  border-radius: 15px;
}
  
@media only screen  and (max-width: 650px){
  .grid-container {
    display: grid; 
    grid-template-areas: 
      'header'
      'nav'
      'content'
      'footer';
      grid-template-columns: 1fr;
    
  }

  .content-wrapper {
    grid-template-areas:
        'main-img'
        'main'
        'bottom_content';
    grid-template-columns: 1fr;
  }


  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: #a4c3b2;
    text-align: center;
    width: 100%;
    z-index: 100;
  }
  
  .hamburger-menu {
    display: block;
  }
  
  .nav-links.active {
    display: flex;
  }


}

.active {
  color: #3d574b;
  font-weight: bold;
}

nav a:hover {
  color: #3d574b;
}

@keyframes colorPulse {
  0% {
    background-color: #728a7d;
  }
  50% {
    background-color: #cce3de;
  }
  100% {
    background-color: #a4c3b2;
  }
}

