* {
    padding: 5px;
    margin: 5px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

#webname {
    background-color:#e6d9ff;
}

.webLinks {
    text-decoration: None;
    font-weight: 400;
    margin-right: 15px;
    color: #654b80;
}

th {
    padding: 12px;
    background-color: #e4ddeb;
    color: #654b80;
    font-weight: 300;
    width: fit-content;
}

tr:nth-child(odd) {
    background-color: #f1edf5;
  }

form * {
    text-align: center;
    display: block;
    margin: auto;
}

form button[type="submit"] {
    background-color: #654b80;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
  }

#funList{
    display: None;
  }

  #errorMessage{
    color:red;
    text-align: center;
    font-weight: 500;
  }