<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khushi Thaker">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Khushi Thaker professional website">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"> </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Khushi Thaker</title>

</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Khushi Thaker</h1>
        <nav>
            <a class = "webLinks" href="../index.html">Home</a>
            <a class = "webLinks" href="cv.html">Experience</a>
            <a class = "webLinks" href="contact.html">Contact Me</a>
            <a class = "webLinks" href="fun.html">About Me</a>
            
        </nav>
    </header>
    
    <div class = "main">
        <h2>Cirriculum Vitae</h2>
        <table>
            <tr>
              <th>Khushi Thaker</th>
              <th>First-Year IS Student @ CMU originally from Philadelphia!</th>
            </tr>
            <tr>
              <td>Education</td>
              <td>Graduated from Souderton Area High School in 2024. Currently pursuing a BS in IS @ CMU</td>
            </tr>
            <tr>
              <td>Experience</td>
              <td>Tartan Ambassador (@CMU), Regional Administrator (@BAPS Swaminarayan Sanstha), Intern (@SAHA Growth Partners), Teaching Assistant (@Kumon)</td>
            </tr>
            <tr>
              <td>Soft Skills</td>
              <td>Interpersonal Communication, Teamwork, Public Speaking, Time-Management</td>
            </tr>
            <tr>
              <td>Hard Skills</td>
              <td>Python, Java, HTML, CSS, Microsoft Excel, Adobe XD, Adobe Photoshop</td>
            </tr>
          </table>
          <br>
          <p>For more detailed descriptions about the information listed above, click to view my
          <a href="https://drive.google.com/file/d/1u-8fMLOeHXR_EKvcFt4X2SJMWfiNc8Pw/view?usp=sharing" target="_blank">Resume</a></p>
          <br><br>
    </div>

    <footer>
      <p id="copyYear">designed and coded by Khushi Thaker &copy; </p>
    </footer>
    
</body>
</html>