<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khushi Thaker">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Khushi Thaker professional website">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"> </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>Khushi Thaker</title>

</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Khushi Thaker</h1>
        <nav>
            <a class = "webLinks" href="../index.html">Home</a>
            <a class = "webLinks" href="cv.html">Experience</a>
            <a class = "webLinks" href="contact.html">Contact Me</a>
            <a class = "webLinks" href="fun.html">About Me</a>

        </nav>
    </header>
    
    <div class = "main">
        <h2>Things I love to do for fun!</h2>

        <button id = "seeMoreID" onclick="showList()" type="button">Click to see...</button>
        <ul id = "funList">
            <li>Traveling</li>
            <li>Reading</li>
            <li>Biking</li>
            <li>Baking</li>
            <li>Watching shows and movies (Survivor, The Office, Harry Potter)!</li>
          </ul>
    </div>

    <footer>
        <p id="copyYear">designed and coded by Khushi Thaker &copy; </p>
    </footer>
    
</body>
</html>