<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khushi Thaker">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Khushi Thaker professional website">

    <title>Khushi Thaker</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Khushi Thaker</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>
            
        </nav>
    </header>
    
    <div class = "main">
        <h2>Cirriculum Vitae</h2>
        <table>
            <tr>
              <th>Khushi Thaker</th>
              <th>First-Year IS Student @ CMU originally from Philadelphia!</th>
            </tr>
            <tr>
              <td>Education</td>
              <td>Graduated from Souderton Area High School in 2024. Currently pursuing a BS in IS @ CMU</td>
            </tr>
            <tr>
              <td>Experience</td>
              <td>Tartan Ambassador (@CMU), Regional Administrator (@BAPS Swaminarayan Sanstha), Intern (@SAHA Growth Partners), Teaching Assistant (@Kumon)</td>
            </tr>
            <tr>
              <td>Soft Skills</td>
              <td>Interpersonal Communication, Teamwork, Public Speaking, Time-Management</td>
            </tr>
            <tr>
              <td>Hard Skills</td>
              <td>Python, Java, HTML, CSS, Microsoft Excel, Adobe XD, Adobe Photoshop</td>
            </tr>
          </table>
          <br>
          <p>For more detailed descriptions about the information listed above, click to view my 
            <a href="https://drive.google.com/file/d/1u-8fMLOeHXR_EKvcFt4X2SJMWfiNc8Pw/view?usp=sharing" target="_blank">Resume</a></p>
          <br><br>
    </div>

    <footer>© 2025 designed and coded by Khushi Thaker</footer>
    
</body>
</html>