<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Khushi Thaker">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Khushi Thaker professional website">

    <title>Khushi Thaker</title>
</head>
<body>
    <header>
        <h1>Khushi Thaker</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html">Contact me</a>
            <a href="fun.html">For fun</a>

        </nav>
    </header>
    
    <div class = "main">
        <h2>Things I love to do for fun!</h2>
        <ul>
            <li>Traveling</li>
            <li>Reading</li>
            <li>Biking</li>
            <li>Baking</li>
            <li>Watching Survivor!</li>
          </ul>
    </div>

    <footer>© 2025 designed and coded by Khushi Thaker</footer>
    
</body>
</html>